---
import Icon from '@components/Icon.astro';
import Link from '@components/link/Link.astro';
import TagLink from '@components/link/TagLink.astro';

const { title, date, endDate, time, location, url, tags = [] } = Astro.props;

const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' } as const;
const dateStr = date.toLocaleDateString('en-US', dateOptions);
const endDateStr = endDate?.toLocaleDateString('en-US', dateOptions);
---

<header class="event__header">

  <h1>{title}</h1>

  <div class="event__meta border-bottom padding-bottom-1 margin-bottom-2">

    <div class="display-flex flex-align-center gap-1 margin-bottom-05">
      <Icon name="event" size={3} class="margin-right-1"/>
      <time datetime={date.toISOString()}>
        {dateStr}{endDate && ` – ${endDateStr}`}
      </time>
      {time && <span class="margin-left-1">· {time}</span>}
    </div>

    {location && (
      <div class="display-flex flex-align-center gap-1 margin-bottom-05">
        <Icon name="location_on" size={3} class="margin-right-1"/>
        <span>{location}</span>
      </div>
    )}

    {url && (
      <div class="display-flex flex-align-center gap-1 margin-bottom-05">
        <Icon name="language" size={3} class="margin-right-1"/>
        <Link to={url}>Event website</Link>
      </div>
    )}

    {tags.length > 0 && (
      <div class="display-flex flex-wrap gap-05 margin-top-1">
        {tags.map(tag => <TagLink tag={tag} />)}
      </div>
    )}

  </div>

</header>

<style>
  .event__meta {
    color: gray;
  }
</style>
