---
import Button from '@components/Button.astro';
import Icon from '@components/Icon.astro';
import TagLink from '@components/link/TagLink.astro';

const {
  title,
  date,
  endDate,
  time,
  location,
  eventType,
  registration_required,
  url,
  tags = [],
} = Astro.props;

const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' } as const;
const dateStr = date.toLocaleDateString('en-US', dateOptions);
const endDateStr = endDate?.toLocaleDateString('en-US', dateOptions);
---

<header class="event__header">

  <h1>{title}</h1>

  <div class="event__meta border-bottom padding-bottom-1 margin-bottom-2 text-base-dark">

    <ul class="usa-list usa-list--unstyled display-flex flex-wrap margin-bottom-1">
      <li class="display-flex flex-align-center margin-right-3">
        <Icon name="event" size={3} class="margin-right-05" />
        <time datetime={date.toISOString()}>
          {dateStr}{endDate && ` – ${endDateStr}`}
        </time>
      </li>

      {time && (
        <li class="display-flex flex-align-center margin-right-3">
          <Icon name="schedule" size={3} class="margin-right-05" />
          <span>{time}</span>
        </li>
      )}

      {location && (
        <li class="display-flex flex-align-center">
          <Icon name="location_on" size={3} class="margin-right-05" />
          <span>{location}</span>
        </li>
      )}
    </ul>

    {
      eventType && (
        <div>
          <span class="margin-right-1">Event Type:</span><span class="usa-tag margin-right-5">{eventType}</span>
        </div>
      )
    }

    {tags.length > 0 && (
      <div class="display-flex flex-wrap gap-05 margin-top-1">
        <span class="margin-right-1">Tags: </span>{tags.map(tag => <TagLink tag={tag} />)}
      </div>
      )
    }

    {url && (
      <Button to={url}>
        {registration_required ? 'Register Here' : 'Event website'}
      </Button>
    )}

  </div>

</header>
