---
import { getCollection, getEntry, render } from 'astro:content';
import Link from '@components/link/Link.astro';
import Base from '@layouts/Base.astro';

export async function getStaticPaths() {
  const programs = await getCollection('programs');

  return programs.map((program) => ({
    params: { slug: program.id },
    props: { program },
  }));
}

const { program } = Astro.props;
const { name, description, studies } = program.data;

const localEntry = await getEntry('programContent', program.id);
const excerpt = localEntry?.data.excerpt;
---

<Base title={name}>

  <section class="usa-section">
    <div class="grid-container">
      <div class="margin-top-4">
        <Link to="/about/studies">← View Program Table</Link>
      </div>
      <h1>{name}</h1>
      <span class="usa-tag">{description}</span>
      {excerpt && <p class="usa-intro">{excerpt}</p>}
      <p class="usa-prose">
        You can view {name} data available in BDC below, or learn more about {name} and the other programs BDC supports on the 
        <Link to={`/about/research-communities#${program.id}`}>Research Communities</Link> page. 
      </p>

      <table class="usa-table usa-table--borderless usa-table--striped width-full margin-top-4">
        <thead>
          <tr>
            <th scope="col">Study Name</th>
            <th scope="col">dbGaP Accession</th>
          </tr>
        </thead>
        <tbody>
          {studies.map(study => (
            <tr>
              <td>{study.name}</td>
              <td>
                {study.url
                  ? <Link to={study.url}>{study.id}</Link>
                  : study.id
                }
              </td>
            </tr>
          ))}
        </tbody>
      </table>

    </div>
  </section>

</Base>
