---
import TagLink from '@components/link/TagLink.astro';

const { items } = Astro.props;
---
<ul class="usa-list usa-list--unstyled">
  {items.map(post => (
    <li class="usa-collection__item">
      <div class="usa-collection__body">
        <span class="usa-tag">
          {post.data.eventType}
        </span>
        <h4 class="usa-collection__heading">
          <a href={`/news/latest-updates/${post.id}/`} class="usa-link">
            {post.data.title}
          </a>
        </h4>

        <ul class="usa-collection__meta display-flex flex-align-center">
          {/* date */}
          <li class="usa-collection__meta-item margin-right-0">
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric'
              })}
            </time>
          </li>
        </ul>

        <p class="usa-collection__description">{post.data.excerpt}</p>
        
        {/* tags */}
        <ul class="usa-collection__meta">
          {
            post.data.tags.length > 0 && (
            <li class="usa-collection__meta-item">
              <div class="display-flex flex-wrap gap-05">
                {post.data.tags.map(tag => (
                  <TagLink tag={tag} />
                ))}
              </div>
            </li>
          )}

        </ul>

        <p>
          <a href={`/news/latest-updates/${post.id}/`}>
            → Read Update
          </a>
        </p>
      </div>
    </li>
  ))}
</ul>
